 <div class="container">

        

	<div class="row">
		<div class='panel panel-primary'>
            <div class='panel-heading'>
              Category Management
            </div>
            <div class='panel-body'>
              <div class='table-responsive'>
                <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addproductcategory()">Add</button></div>
                <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
                <div *ngIf='ProductCategories && ProductCategories.length==0' class="alert alert-info" role="alert">No record found!</div>
        
       

                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   
                   <th><input type="checkbox" id="checkall" /></th>
                   <th>ProductType</th>
                    <th>Description</th>
                     <th>UpdatedBy</th>
                     <th>IsActive</th>
                     <th>LastUpdatedDate</th>
                     
                      <th>Edit</th>
                      
                       <th>Delete</th>
                   </thead>
                    <tbody>
              
                        <tr *ngFor="let ProductCategory of ProductCategories">
                      <td><input type="checkbox" class="checkthis" /></td>
                      <td>{{ProductCategory.productType}}</td>
                      <td>{{ ProductCategory.description }}</td>
                      <td>{{ ProductCategory.updatedBy }}</td>
                      <td>{{ ProductCategory.isActive }}</td>
                      <td>{{ ProductCategory.lastUpdatedDate   }}</td>
                      <td>{{ ProductCategory.categoryId   }}</td>
                      <td><p data-placement="top" data-toggle="tooltip"  (click)="editproductcategory(ProductCategory.categoryId)" title="Edit">
                        <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td><p data-placement="top" data-toggle="tooltip" (click)="deleteproductcategory(ProductCategory.categoryId)" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                      </tr>

                    </tbody>
        
              </table>

              <!-- pager -->
            <!--<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
          </ul>-->

              <div>
            </div>
          </div>
          <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
          </div>
        </div>
      </div>
      
       
    </div>
    
 </div>

 <bs-modal #modal>
    <form novalidate (ngSubmit)="onSubmit(ProdCateForm)" [formGroup]="ProdCateForm" >
      <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">{{modalTitle}}</h4>
      </bs-modal-header>
      <bs-modal-body>
  
        <div class="form-group">
          <div>
            <span>ProductType</span>
            <input type="text" class="form-control" placeholder="ProductType" formControlName="productType" id="productType"> 
          </div>
          <div>
            <span>Description</span>
            <input type="text" class="form-control" placeholder="Description" formControlName="description" id="description">
          </div>
          <div class="form-group"></div>
          <div>
                <span>UpdatedBy</span>
                <!-- <input type="text" class="form-control" placeholder="UpdatedBy" formcontrolName="updatedby" id="updatedby"> -->

                <input type="text" formControlName="updatedBy" placeholder="Updated By" name="updatedBy" class="form-control" id="updatedBy">
          </div>

          <div>
                <span>Updated date</span>
                <!-- <input type="text" class="form-control"  placeholder="LastUpdatedDate" id="lastupdatedate" formcontrolName="lastupdatedate"> -->

                <input type="text" formControlName="lastUpdatedDate" placeholder="Last Updated Date" name="lastUpdatedDate" class="form-control" id="lastUpdatedDate">
          </div>
        </div>
        <div class="form-group">
          <div>
                <span>isActive</span>
                <!-- <input type="checkbox" class="form-control" formcontrolName="isactive" id="isactive"> -->

    
    <input type="checkbox" formControlName="isActive"  name="isactive" class="form-control" id="isActive">
          </div>
        </div>
         
    
      </bs-modal-body>
      <bs-modal-footer>
        <div>
          <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
          <button type="submit" [disabled]="ProdCateForm.invalid" class="btn btn-primary" >{{modalBtnTitle}}</button>
        </div>
      </bs-modal-footer>
    </form>
  </bs-modal>
        